.converter-box {
  margin-top: 32px;
  background-color: white;
  width: 88%;
  height: 220px;
  /* position: absolute;
  top: 480px; */
  padding: 30px 40px 30px 40px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.34);
}
